
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    background: #FFF;

    --bg-main: #FFF;
    --bg-dark: #EEE;
    --border-color: #CCC;
    --border-color-contrast: #BBB;
    --bg-hover: #ddd;
    --text-muted: #777;
    --text-very-muted: #AAA;
    --text-contrast: #000;
    --text-main: #333;
    --primary: #0078D4;
}

.cm-scroller {
    overflow-x: visible !important;
}

@media(prefers-color-scheme: dark){
    body {
        margin: 0;
    
        font-family: Arial, Helvetica, sans-serif;
        background: #1f1f1f;
    
        --bg-main: #1f1f1f;
        --bg-dark: #181818;
        --border-color: #2b2b2b;
        --border-color-contrast: #454545;
        --bg-hover: #323232;
        --text-muted: #9D9D9D;
        --text-very-muted: #555;
        --text-contrast: #FFF;
        --text-main: #CCC;
    }
}


h1,h2,h3,h4,p {
    margin: 0;
}

.text-center {
    text-align: center !important;
}


.text-muted {
    color: var(--text-muted);
}

.cm-gutterElement{
    padding-right: 8px !important;
}

.toast-container {
    position: fixed;
    bottom: 3vh;
    left: 8px;
    right: 8px;
}

.toast {
    max-width: 300px;
    padding: 8px 0 8px 16px;
    margin: 0 auto;
    background: #ddd;
    color: #333;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px -1px #0003,
    0 4px 5px #00000024,
    0 1px 10px #0000001f;
}

.toast-error {
    background: #910808;
    color: #ffffff;
}

.toast-undo {
    color: #0072BC;
    font-weight: bold;
    &:hover{
        text-decoration: underline;
    }
    cursor: pointer;
    padding: 8px 16px;
}