.footer{
    font-size: 14px;
    padding: 2px;
    display: flex;
    gap: 4px;
    border-top: 1px solid var(--border-color);
    background: var(--bg-dark);
    overflow: hidden;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.footer-button{
    position: relative;
    cursor: pointer;
    padding: 2px 6px;
    color: var(--text-muted);
    border-radius: 2px;
    white-space: nowrap;
    &:hover {
        background: var(--bg-hover);
        color: var(--text-contrast);
    }
    &.disabled {
        background: none !important;
        cursor: default;
        color: var(--text-very-muted);
    }
}




.footer-info-group {
    display: flex;
    padding: 0 2px;
}
.footer-info-group:last-child{
    display: none;
}

@media (min-width: 600px) {
    .footer-info-group:last-child {
        display: flex;
    }
}


.footer-info {
    padding: 2px 4px;
    color: var(--text-muted);
    white-space: nowrap;
}


.check-container{
    position: absolute;
    left: 7px;
    top: 0;
}
