<div class="main-container">
    <div class="tab-container">
        @for (tabInfo of $tabInfos(); track tabInfo){
        <div class="tab" [class.active]="tabInfo.fileId == activeFileId" (click)="tabClicked(tabInfo.fileId)"
            (contextmenu)="onRightClick($event, tabInfo.fileId)">
            {{tabInfo.filename}}
            <div class="icon-container close-container" (click)="close(tabInfo.fileId)">
                <div class="icon">
                    &times;
                </div>
            </div>
        </div>
        }
    </div>
    <div class="add-container">
        <div class="icon-container lg" (click)="newTab()">
            <div class="icon">&plus;</div>
        </div>
    </div>
</div>
<div class="context-menu" #contextMenu>
    <div class="menu-item" (click)="close(contextMenuFileId!)">Close</div>
    <div class="menu-item" (click)="rename()">Rename</div>
    <div class="menu-item">Move to Left</div>
    <div class="menu-item">Duplicate</div>
    <div class="menu-item">Download</div>
</div>

@if (closedTabInfo){
    <div class="toast-container" [@inOutAnimation]>
        <div class="toast">
            <div style="padding: 8px 0">Closed {{closedTabInfo.filename}}</div>
            <div class="toast-undo" (click)="undo()">
                UNDO
            </div>
        </div>
    </div>
}