<div class="main-container">
    <div class="tab-container">
        @for (tabInfo of $tabInfos(); track tabInfo){
        <div class="tab" [class.active]="tabInfo.fileId == activeFileId" (click)="tabClicked(tabInfo.fileId)"
            (contextmenu)="onRightClick($event, tabInfo.fileId)">
            {{tabInfo.filename}}
            <div *ngIf="!tabInfo.isProtected" class="icon-container close-container" (click)="delete(tabInfo.fileId)">
                <div class="icon">
                    &times;
                </div>
            </div>
        </div>
        }
    </div>
    <div class="add-container">
        <div class="icon-container lg" (click)="newTab()">
            <div class="icon">&plus;</div>
        </div>
    </div>
</div>
<div class="context-menu" #contextMenu>
    <div class="menu-item" (click)="delete(contextMenuFileId!)">Delete</div>
    <div class="menu-item" (click)="rename()">Rename</div>
    <div *ngIf="contextMenuFileId" class="menu-item" (click)="toggleProtection()">{{ isProtected(contextMenuFileId!) ? 'Remove Protection' : 'Protect'}}</div>
    <div class="menu-item" (click)="moveToLeft()">Move to Left</div>
    <div class="menu-item" (click)="duplicate()">Duplicate</div>
    <div class="menu-item" (click)="download()">Download</div>
</div>

@if (deletedTabInfo){
    <div class="toast-container" [@inOutAnimation]>
        <div class="toast">
            <div style="padding: 8px 0">Deleted {{deletedTabInfo.filename}}</div>
            <div class="toast-undo" (click)="undo()">
                UNDO
            </div>
        </div>
    </div>
}