@if ($info()){
    <tabset></tabset>
    @if($info()!.tabInfos.length){
        <editor></editor>
    } @else {
        <h3 class="text-center text-muted" style="margin-top: 1.5rem;">No File Opened</h3>
        <p class="text-center text-muted" style="margin-top: .5rem;">click the plus icon in the top right</p>
    }
}
@if (errorMessage){
    <div class="toast-container" [@inOutAnimation]>
        <div class="toast toast-error">
            <div style="padding: 8px 0">{{errorMessage}}</div>
        </div>
    </div>
}